.footer {
  background-color: $vertFonce;
  height: 450px;
  color: white;
  a {
    color: white;
  }
  .footerContaint {
    display: flex;
    justify-content: space-between;
    top: 50px;
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    .footerContaint_Card {
      width: 30%;
      height: 100%;
      .footerContaint_Card_Title {
        width: 125px;
        letter-spacing: 3px;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 600;
      }
      .footerContaint_Card_link {
        display: inline-block;
        justify-content: center;
        column-count: 2;
        text-decoration: none;
        a {
          &:hover {
            text-decoration: underline;
            font-weight: 300;
          }
        }
        li {
          margin-bottom: 15px;
        }
      }
    }

    .footerContaint_Card_Medicine {
      width: 30%;
      p {
        margin: 20px 0 35px 0;
        font-size: 17px;
      }

      li {
        margin-bottom: 15px;
        font-weight: 600;
        a:hover {
          text-decoration: underline;
        }
      }
      span::before {
        content: "\f1a3";
        color: #8cdb1f;
        display: inline-block;
        margin-left: 1px;
      }
    }
  }
}

.copyright_Logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  .by {
    font-weight: 600;
  }

  .line {
    border-top: 1px solid #0b7779;
    width: 55%;
  }

  .twitter,
  .vimeo,
  .linkedin {
    display: inline;
    border: 1px solid #0b7779;
    border-radius: 50px;
    padding: 13px;
  }
}
