#header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #d6d8d8;
  z-index: 3;
  #header_top {
    background-color: #064242;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header_top_country {
      margin: 13px 0 0 20px;
      color: white;
      background-color: #064242;
      height: 30px;
      font-weight: 600;
      span {
        margin-left: 5px;
        a {
          color: white;
        }
      }
      .fa-angle-down {
        margin-left: 5px;
      }
    }
    .header_top_menuLeft {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 10px;
      li {
        padding-right: 10px;
        font-size: 12px;
        display: inline;
        color: white;
        font-weight: 600;
        a {
          color: white;
          font-weight: 600;
          font-size: 12px;
        }
      }
      .fa-angle-down {
        position: relative;
        display: inline;
        margin-left: 5px;
      }
    }
  }
  #header_bot {
    background-color: white;
    padding: 25px 20px 25px 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    #header_bot_menuMiddle {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      .fa-angle-down {
        margin-left: 5px;
        color: $vertClair;
      }
      li {
        display: inline;
        text-align: center;
        padding-right: 40px;
        a {
          color: #646668;
          padding-bottom: 42px;
          &:hover {
            box-shadow: 0px -3px 0px $vertClair inset;
          }
        }
      }
    }
    .header_bot_menuleft {
      height: 100%;
      display: flex;
      align-items: center;
      #header_bot_findAMedicine {
        position: relative;
        background-color: #403b77;
        color: white;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.5s ease;
        font-weight: 600;
        span {
          position: absolute;
          left: 15%;
          top: 50%;
          display: inline-block;
          transform: translateY(-50%);
        }
        &:hover {
          filter: brightness(180%);
        }
        .fa-angle-down {
          margin-left: 30px;
        }
      }

      #header_bot_getInTouch {
        background-color: $vertClair;
        border-radius: 30px;
        width: 155px;
        height: 50px;
        cursor: pointer;
        transition: all 0.8s ease;
        &:hover {
          background-color: #73b31a;
        }
      }

      .separateur {
        border-left: 1px solid #cacaca;
        height: 20px;
        width: 1px;
        margin-left: 20px;
      }

      #header_bot_search {
        position: relative;
        background: url(../images/loupe.png) no-repeat center/cover;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}

/****************************************** SOUS MENU ************************/

.menuCacheCountry {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 65px;
  width: 100%;
  background-color: $grisClair;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  li {
    display: none;
    margin: 20px 250px 20px 30px;
    font-weight: 600;
    color: $vertFonce;
    a:hover {
      text-decoration: underline;
    }
  }
}
.flag {
  width: 24px;
  height: 16px;
  margin-right: 5px;
}

.menuCache_about,
.menuCache_globalOffice {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  left: 0;
  height: 140px;
  width: 100%;
  background-color: $grisClair;
  z-index: 1;
  border-bottom: 1px solid #dad8d9;
  transition: opacity 0.5s ease;
  ul {
    display: flex;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    flex-wrap: wrap;
    height: 100%;
  }
  li {
    display: none;
    margin: 20px 20px 20px 75px;
    font-weight: 600;
    color: $vertFonce;
    width: 250px;
    a:hover {
      text-decoration: underline;
    }
  }
}

.menuCache_careers,
.menuCache_newsroom {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 80px;
  width: 100%;
  background-color: $grisClair;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  text-align: center;
  ul {
    margin-top: 25px;
  }
  li {
    display: none;
    margin: 0px 100px 0px 100px;
    font-weight: 600;
    color: $vertFonce;
    a:hover {
      text-decoration: underline;
    }
  }
}

.menuCache_investors {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 570px;
  width: 100%;
  background-color: $grisClair;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  padding-left: 17%;
  padding-right: 17%;

  .menuInvestor_Card {
    width: 25%;
    height: min-content;
  }

  ul {
    margin-top: 25px;
  }

  li {
    display: none;
    font-weight: 600;
    color: $vertFonce;
    width: 250px;
    a {
      display: inline-block;
      width: 100%;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .secondLi a {
    color: #848688;
    margin: 10px 0 3px 0;
  }
}

.menuCache_sustain {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 250px;
  width: 100%;
  background-color: $grisClair;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  padding-left: 17%;
  padding-right: 17%;

  .menuSustain_Card {
    width: 25%;
    height: min-content;
  }

  ul {
    margin-top: 25px;
  }

  li {
    display: none;
    font-weight: 600;
    color: $vertFonce;
    width: 250px;
    a {
      display: inline-block;
      width: 100%;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .secondLi a {
    color: #848688;
    margin: 10px 0 3px 0;
  }
}

.menuCache_howCanWeHelp {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  margin-top: 3px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  top: 141px;
  z-index: 4;
  transition: all 0.5s ease;
  ul {
    display: flex;
    text-align: center;
    justify-content: first baseline;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    li {
      margin: 40px 50px 40px 50px;
      font-weight: 600;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.show {
  opacity: 100;
  visibility: visible;
  li {
    display: inline-block;
  }
}
.actif {
  padding-bottom: 11px;
  border-bottom: 3px solid $vertClair;
}

/* Pour le menu du header a coté de clinigen */
.actifSousMenu {
  box-shadow: 0px -3px 0px $vertClair inset;
}
