/****************************************/
.container {
  position: relative;
  top: 145px;
  width: 100%;
  img {
    filter: brightness(75%);
  }
}
/****************************************/
.sousSlider {
  position: relative;
  display: flex;
  vertical-align: middle;
  max-width: 1250px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
  box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
  .div_sv {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    .svg1,
    .svg2,
    .svg3 {
      transition: all 0.5s ease;
      fill: $vertClair;
    }
  }
  .sousSlider_L {
    height: 100%;
    flex: 1;
    text-align: center;
    padding-top: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 600;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
    }
    a {
      display: inline-block;
      width: 150px;
      margin-top: -10px;
    }
    a::after {
      content: "\002192";
      color: $vertClair;
      margin-left: 2px;
    }
    &:hover {
      background-color: $vertClair;
    }
  }
  .sousSlider_M {
    border-left: 1px solid #75787a;
    border-right: 1px solid #75787a;
    height: 100%;
    flex: 1;
    padding-top: 40px;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 600;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
    }
    a::after {
      content: "\002192";
      color: $vertClair;
      margin-left: 2px;
    }
    &:hover {
      background-color: $vertClair;
    }
  }
  .sousSlider_R {
    height: 100%;
    flex: 1;
    padding-top: 40px;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 600;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
    }
    a::after {
      content: "\002192";
      color: $vertClair;
      margin-left: 2px;
    }
    &:hover {
      background-color: $vertClair;
    }
  }
}
/****************************************/
.bgGris {
  padding-top: 80px;
  background-color: $grisClair;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
}

.lastNews_Titre {
  position: relative;
  text-align: center;
  padding: 40px;

  h3 {
    color: #005052;
    font-size: 35px;
    font-family: League;
    font-weight: 400;
    &:after {
      content: "";
      background-color: $vertClair;
      bottom: 20px;
      height: 3px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 60px;
    }
  }
}

.bgGris_listCards {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 50px;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  @media all and (max-width: 990px) {
    flex-wrap: wrap;
  }
  .card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 300px;
    height: 540px;
    -webkit-box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
    box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
    margin: 15px;
    @media all and (max-width: 990px) {
      width: 45%;
    }
    @media all and (max-width: 770px) {
      width: 100%;
      min-height: 700px;
    }
    .imgAndText {
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 25px;
      height: 100%;
      .titre {
        display: block;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 25px;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        position: relative;
      }
      .card_content {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 80%;
      }
    }
    .card_bot {
      display: inline-block;
      position: relative;
      border-top: 1px solid #999c9e;
      padding-top: 30px;
      width: 100%;
      padding-bottom: 25px;
      a {
        display: block;
        margin-left: 30px;
        font-size: 18px;
        font-weight: 600;
        &::after {
          content: "\002192";
          color: $vertClair;
          margin-left: 5px;
        }
      }
    }
  }
}
/****************************************/
.containt_investor {
  background-color: white;
  position: relative;
  min-height: 800px;
  .containt_investor_titre {
    position: relative;
    text-align: center;
    padding: 40px;
    h3 {
      color: $vertFonce;
      font-size: 35px;
      font-family: League;
      font-weight: 400;
      &:after {
        content: "";
        background-color: $vertClair;
        bottom: 20px;
        height: 3px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 60px;
      }
    }
  }

  .containt_investor_listCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    .containt_investor_card {
      position: relative;
      width: 325px;
      min-height: 480px;
      padding: 25px;
      color: $vertFonce;
      @media all and (max-width: 770px) {
        width: 100%;
      }
      .investor_card_titre {
        position: relative;
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #f6f6f6;
        color: #6c9a9b;
        font-weight: 600;
      }

      .investor_card_containt_SharePrice {
        p {
          font-family: League;
          font-weight: 400;
          font-size: 60px;
        }
        span {
          font-family: League;
          font-weight: 400;
          font-size: 40px;
        }
      }

      .investor_card_containt {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #f6f6f6;
        p {
          font-size: 16px;
        }
        .investor_card_date {
          color: #bec5c9;
        }
        a {
          text-decoration: underline;
          font-size: 16px;
        }
        .investor_card_containt_titleInvest {
          position: relative;
          display: block;
          font-size: 35px;
          margin-bottom: 20px;
          font-family: League;
          font-size: 60px;
          line-height: 50px;
          font-weight: 400;
        }
        .investor_card_containt_investText {
          color: #4c5f6a;
          line-height: 25px;
        }
      }
      .investor_card_containt_update {
        color: #bec5c9;
        border-bottom: 1px solid #f6f6f6;
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
      .investor_card_bot {
        a {
          font-size: 16px;
          font-weight: 600;
        }
        &::after {
          content: "\002192";
          color: $vertClair;
          margin-left: 5px;
        }
      }
    }
  }

  .investor_btn {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    input {
      background-color: $vertClair;
      border-radius: 30px;
      width: 325px;
      height: 45px;
      cursor: pointer;
      transition: all 0.8s ease;
      text-align: center;
      &:hover {
        background-color: $green-darker;
      }
    }
  }
}

/****************************************/
.video {
  position: relative;
  height: 600px;
  background: url(../images/bg-video.jpg);
  .containerVideo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1150px;
    color: white;
    .videoCard {
      position: relative;
      padding-top: 100px;
      padding-left: 50px;
      max-width: 600px;
      span {
        color: #6ba717;
      }
      h2 {
        margin-bottom: 15px;
        margin-top: 5px;
        width: 500px;
        margin-bottom: 10px;
        @include titreH2_blanc;
      }
      .containerVideo_Text {
        color: #bec5c9;
        width: 60%;
        line-height: 25px;
      }
      input {
        margin-top: 20px;
        border-radius: 30px;
        height: 55px;
        width: 180px;
        text-align: center;
        background-color: $vertClair;
        cursor: pointer;
        transition: all 1s ease;
        &:hover {
          background-color: $green-darker;
        }
      }
    }
  }
}
/****************************************/
.ourMission {
  position: relative;
  min-height: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .ourMission_L {
    max-width: 500px;
    color: $vertFonce;
    font-weight: 600;
    margin-right: 50px;
    span {
      display: block;
      color: #4c5f6a;
      margin-bottom: 5px;
    }
    p {
      font-family: League;
      font-size: 60px;
      line-height: 50px;
      font-weight: 400;
    }
    input {
      margin-top: 20px;
      height: 55px;
      width: 180px;
      text-align: center;
      border-radius: 30px;
      background-color: $vertClair;
      cursor: pointer;
      transition: all 1s ease;
      &:hover {
        background-color: $green-darker;
      }
    }
  }
  .ourMission_R {
    max-width: 750px;
    max-height: 100%;
    color: #4c5f6a;
    padding-left: 50px;
    p {
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      max-height: 400px;
    }
  }
}
/****************************************/
.numberBot {
  background-color: $grisClair;
  color: $vertFonce;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  min-height: 320px;
  .numberBot_Card {
    position: relative;
    display: block;
    margin: 0 30px 0 30px;
    top: 30%;
    p {
      width: 210px;
    }
    span {
      min-width: 200px;
      display: block;
      font-size: 60px;
      font-family: League;
      margin-bottom: 10px;
    }
  }
  .ppl:before {
    content: url("../images/human.JPG");
  }
  .target:before {
    content: url("../images/target.JPG");
  }
  .pizza:before {
    content: url("../images/pizza.JPG");
  }
  .earth:before {
    content: url("../images/earth.JPG");
  }
}

/****************************************/
