.mainHeaderPharma {
  height: 560px;
  background: url(../images/slides/woman-web_crop-min.jpg) no-repeat;
  background-size: cover;
  background-position: right 35% bottom 82%;
  //filter: brightness(0.75);

  .mainHeaderPharma_contain {
    display: block;
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    color: white;
    span {
      display: block;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 8px;
      line-height: 19.6px;
      font-family: GothamBook;
      margin: 0 0 12px 0;
    }
    h3 {
      font-size: 80px;
      line-height: 70px;
      font-family: League;
      font-weight: 400;
    }
  }
}

.mainContent {
  display: flex;
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  justify-content: space-between;

  .containL {
    margin-left: 20px;
    width: 835px;
    margin-right: 50px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 40px;
    h2 {
      font-family: GothamMedium;
      font-size: 23px;
      font-weight: 700;
      letter-spacing: -0.345px;
      line-height: 36px;
    }
    p {
      font-family: GothamBook;
      font-size: 16px;
      letter-spacing: -0.256px;
      line-height: 30px;
      color: $grey-hoki;
    }
    .finContent {
      font-family: GothamBook;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.256px;
      line-height: 30px;
      color: $grey-hoki;
      margin-bottom: 25px;
    }
    .title {
      @include titreVERT_petit;
      font-size: 30px;
      color: $vertFonce;
    }
    ul {
      margin-bottom: 25px;
      margin-bottom: 50px;
    }
    li {
      list-style-type: circle;
      margin: 10px 0 10px 20px;
      a {
        font-family: GothamBold;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.4px;
        line-height: 19px;
        &::after {
          content: "\002192";
          color: $vertClair;
          margin-left: 3px;
          display: inline-block;
          width: 0;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .containR {
    position: relative;
    width: 420px;
    background-color: #f5f5f5;
    max-height: 875px;
    margin-right: 20px;
    .titleGetInTouch {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      border-bottom: 1px solid #d6d6d6;
      margin: 25px 0 0 0;
      padding-left: 25px;
      padding-bottom: 25px;
    }
    .letter {
      display: inline-block;
      background: url(../images/letter.JPG) no-repeat center/cover;
      height: 40px;
      width: 40px;
    }
    h4 {
      font-size: 20px;
      margin-left: 10px;
    }
    .lib {
      display: block;
      font-size: 12px;
      color: #8b8b8b;
      margin-bottom: 15px;
    }
    .sousTitre {
      display: block;
      font-size: 15px;
      color: #5f5f5f;
      margin-bottom: 15px;
    }
    form {
      padding: 30px;
    }
    .formInput {
      display: block;
      width: 100%;
      border: 1px solid #d6d6d6;
      border-radius: 50px;
      height: 50px;
      margin-bottom: 15px;
      color: black;
      padding: 15px 15px 15px 25px;
      font-size: 14px;
      font-weight: normal;
      background-color: white;
      outline: none;
      &:after {
        content: "^";
        float: right;
      }
    }
    .combo1,
    .combo2,
    .combo3 {
      cursor: pointer;
      user-select: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 25px;
    }

    textarea {
      max-width: 100%;
      min-width: 100%;
      max-height: 125px;
      min-height: 125px;
      border: 1px solid #d6d6d6;
      border-radius: 20px;
      padding: 15px 15px 15px 25px;
      outline: none;
    }

    .btnSubmit {
      @include btnVert;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      width: 100%;
    }
  }
}
.sousMenu1 {
  display: inline-block;
  position: absolute;
  width: 86%;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  height: 200px;
  top: 495px;
  color: black;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  overflow-y: scroll;
  visibility: hidden;
  .option1 {
    width: 100%;
    padding: 8px 5px 8px 5px;

    &:hover {
      background-color: #e7e7e7;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d4d4d4;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $vertClair;
    border-radius: 10px;
  }
}

.sousMenu2 {
  display: inline-block;
  position: absolute;
  width: 86%;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  height: 200px;
  top: 560px;
  color: black;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  overflow-y: scroll;
  visibility: hidden;
  .option2 {
    width: 100%;
    padding: 8px 5px 8px 5px;
    &:hover {
      background-color: #e7e7e7;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d4d4d4;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $vertClair;
    border-radius: 10px;
  }
}

.sousMenu3 {
  display: inline-block;
  position: absolute;
  width: 86%;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  height: fit-content;
  top: 625px;
  color: black;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  overflow-y: scroll;
  visibility: hidden;
  .option3 {
    width: 100%;
    padding: 8px 5px 8px 5px;
    &:hover {
      background-color: #e7e7e7;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $vertClair;
    border-radius: 10px;
  }
}

.show {
  visibility: visible;
}
