.mainHeaderProducts {
  height: 600px;
  background: url(../images/banner-sm-green.jpg) no-repeat center/cover;
}

.mainHeaderProducts_contain {
  display: block;
  position: relative;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  color: white;
  span {
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 19.6px;
    font-family: GothamBook;
    margin: 0 0 12px 0;
  }
}

.mainHeaderProducts_contain h3 {
  font-size: 80px;
  line-height: 70px;
  font-family: League;
  font-weight: 400;
  width: 500px;
  text-align: center;
}

.containerProducts {
  margin-top: 25px;
  padding: 0 10px 0 10px;
  max-width: 1250px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  h3 {
    font-size: 40px;
    color: $vertFonce;
    font-family: League;
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: GothamMedium;
    margin-bottom: 20px;
    line-height: 36px;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    color: $grey-hoki;
  }
  ul {
    margin-bottom: 30px;
    margin-left: 20px;
  }
  li {
    font-size: 16px;
    line-height: 30px;
    list-style-type: circle;
  }
}

.contain_L {
  max-width: 800px;
  margin-right: 50px;
  .contain_L_1 {
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 50px;
    padding-bottom: 30px;
    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      &::after {
        content: "\002192";
        color: $vertClair;
        margin-left: 3px;
        display: inline-block;
        width: 0;
      }
    }
  }

  .relatedLinksProducts {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 100px;
    h4 {
      display: inline;
      color: $vertFonce;
      font-family: League;
      line-height: 30px;
      font-size: 30px;
    }
    ul {
      display: inline;
      li {
        list-style-type: none;
        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          &::after {
            content: "\002192";
            color: $vertClair;
            margin-left: 3px;
            display: inline-block;
            width: 0;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.contain_R {
  max-width: 410px;
  margin-bottom: 20px;
  .formulaire {
    background-color: #f5f5f5;
    height: 875px;
    padding-top: 25px;
    form {
      padding: 30px;
    }
    .formulaire_titre {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      border-bottom: 1px solid #d6d6d6;
      padding-left: 25px;
      padding-bottom: 25px;
    }
    .formulaire_t {
      display: block;
      font-size: 20px;
      margin-left: 10px;
    }
    .formulaire_imgLettre {
      display: inline-block;
      background: url(../images/letter.JPG) no-repeat center/cover;
      height: 40px;
      width: 40px;
    }
    .formulaire_libelle {
      display: block;
      font-size: 12px;
      color: #8b8b8b;
      margin-bottom: 15px;
    }
    .formulaire_sousTitre {
      display: inline-block;
      font-size: 18px;
      color: #5f5f5f;
      margin-bottom: 15px;
    }
    .formulaire_input {
      display: block;
      width: 100%;
      border: 1px solid #d6d6d6;
      border-radius: 50px;
      height: 50px;
      margin-bottom: 15px;
      color: black;
      padding: 15px 15px 15px 25px;
      font-size: 14px;
      font-weight: normal;
      background-color: white;
      outline: none;
      &:after {
        content: "^";
        float: right;
      }
    }
    .formulaire_combo1,
    .formulaire_combo2,
    .formulaire_combo3 {
      cursor: pointer;
      user-select: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 25px;
    }
    textarea {
      max-width: 100%;
      min-width: 100%;
      max-height: 125px;
      min-height: 125px;
      border: 1px solid #d6d6d6;
      border-radius: 20px;
      padding: 15px 15px 15px 25px;
      outline: none;
    }
    .formulaire_btn {
      @include btnVert;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      width: 100%;
    }
  }
}

.formulaire_sousMenu1 {
  width: 345px;
  position: absolute;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  height: 280px;
  top: 1450px;
  color: black;
  padding: 15px 0px 15px 20px;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  overflow-y: scroll;
  visibility: hidden;
  li {
    position: relative;
    list-style-type: none;
    left: -25px;
  }
  .formulaire_option1 {
    padding: 8px 5px 8px 5px;
    &:hover {
      background-color: #e7e7e7;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d4d4d4;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $vertClair;
    border-radius: 10px;
  }
}

.formulaire_sousMenu2 {
  width: 345px;
  position: absolute;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  height: 280px;
  top: 1515px;
  color: black;
  padding: 15px 0px 15px 20px;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  overflow-y: scroll;
  visibility: hidden;
  li {
    position: relative;
    list-style-type: none;
    left: -25px;
  }
  .formulaire_option2 {
    padding: 8px 5px 8px 5px;
    &:hover {
      background-color: #e7e7e7;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d4d4d4;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $vertClair;
    border-radius: 10px;
  }
}

.formulaire_sousMenu3 {
  width: 345px;
  position: absolute;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  height: 200px;
  top: 1580px;
  color: black;
  padding: 15px 0px 15px 20px;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  overflow-y: scroll;
  visibility: hidden;
  li {
    position: relative;
    list-style-type: none;
    left: -25px;
  }
  .formulaire_option3 {
    padding: 8px 5px 8px 5px;
    &:hover {
      background-color: #e7e7e7;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d4d4d4;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $vertClair;
    border-radius: 10px;
  }
}

.hideText {
  visibility: hidden;
}
.show {
  visibility: visible;
}
