@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap");
@import url("https://use.typekit.net/mwf7moh.css");

@import "./shared/variables";
@import "./shared/header";
@import "./shared/footer";
@import "./shared/tiroir";
@import "./shared/menuFixe";
@import "./locations";
@import "./formulaire";
@import "./mission";
@import "./pharmaceutical";
@import "./healtcare";
@import "./patientGroup";
@import "./patient";
@import "./products";
@import "./about";
@import "./ourBrands";
@import "./main";

@font-face {
  font-family: GothamMedium;
  src: url(./fonts/GothamMedium.ttf);
}

@font-face {
  font-family: GothamBook;
  src: url(./fonts/GothamBook.ttf);
}

@font-face {
  font-family: GothamBold;
  src: url(./fonts/GothamBold.ttf);
}

@font-face {
  font-family: League;
  src: url(./fonts/LeagueGothic-Regular.woff);
}

//***///
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamBook;
  font-size: 14px;
}

li {
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #005052;
}

input {
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
html {
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background: black;
}

.btnVert {
  text-align: center;
  border-radius: 30px;
  background-color: $vertClair;
  cursor: pointer;
  transition: all 1s ease;
  height: 50px;
  width: 200px;
  margin-top: 15px;
  &:hover {
    background-color: $green-darker;
  }
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
