@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap");
@import url("https://use.typekit.net/mwf7moh.css");
#header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #d6d8d8;
  z-index: 3;
}
#header #header_top {
  background-color: #064242;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header #header_top .header_top_country {
  margin: 13px 0 0 20px;
  color: white;
  background-color: #064242;
  height: 30px;
  font-weight: 600;
}
#header #header_top .header_top_country span {
  margin-left: 5px;
}
#header #header_top .header_top_country span a {
  color: white;
}
#header #header_top .header_top_country .fa-angle-down {
  margin-left: 5px;
}
#header #header_top .header_top_menuLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
#header #header_top .header_top_menuLeft li {
  padding-right: 10px;
  font-size: 12px;
  display: inline;
  color: white;
  font-weight: 600;
}
#header #header_top .header_top_menuLeft li a {
  color: white;
  font-weight: 600;
  font-size: 12px;
}
#header #header_top .header_top_menuLeft .fa-angle-down {
  position: relative;
  display: inline;
  margin-left: 5px;
}
#header #header_bot {
  background-color: white;
  padding: 25px 20px 25px 20px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
#header #header_bot #header_bot_menuMiddle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
#header #header_bot #header_bot_menuMiddle .fa-angle-down {
  margin-left: 5px;
  color: #8cdb1f;
}
#header #header_bot #header_bot_menuMiddle li {
  display: inline;
  text-align: center;
  padding-right: 40px;
}
#header #header_bot #header_bot_menuMiddle li a {
  color: #646668;
  padding-bottom: 42px;
}
#header #header_bot #header_bot_menuMiddle li a:hover {
  box-shadow: 0px -3px 0px #8cdb1f inset;
}
#header #header_bot .header_bot_menuleft {
  height: 100%;
  display: flex;
  align-items: center;
}
#header #header_bot .header_bot_menuleft #header_bot_findAMedicine {
  position: relative;
  background-color: #403b77;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: 600;
}
#header #header_bot .header_bot_menuleft #header_bot_findAMedicine span {
  position: absolute;
  left: 15%;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%);
}
#header #header_bot .header_bot_menuleft #header_bot_findAMedicine:hover {
  filter: brightness(180%);
}
#header #header_bot .header_bot_menuleft #header_bot_findAMedicine .fa-angle-down {
  margin-left: 30px;
}
#header #header_bot .header_bot_menuleft #header_bot_getInTouch {
  background-color: #8cdb1f;
  border-radius: 30px;
  width: 155px;
  height: 50px;
  cursor: pointer;
  transition: all 0.8s ease;
}
#header #header_bot .header_bot_menuleft #header_bot_getInTouch:hover {
  background-color: #73b31a;
}
#header #header_bot .header_bot_menuleft .separateur {
  border-left: 1px solid #cacaca;
  height: 20px;
  width: 1px;
  margin-left: 20px;
}
#header #header_bot .header_bot_menuleft #header_bot_search {
  position: relative;
  background: url(../images/loupe.png) no-repeat center/cover;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

/****************************************** SOUS MENU ************************/
.menuCacheCountry {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 65px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
}
.menuCacheCountry li {
  display: none;
  margin: 20px 250px 20px 30px;
  font-weight: 600;
  color: #005052;
}
.menuCacheCountry li a:hover {
  text-decoration: underline;
}

.flag {
  width: 24px;
  height: 16px;
  margin-right: 5px;
}

.menuCache_about,
.menuCache_globalOffice {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  left: 0;
  height: 140px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #dad8d9;
  transition: opacity 0.5s ease;
}
.menuCache_about ul,
.menuCache_globalOffice ul {
  display: flex;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  flex-wrap: wrap;
  height: 100%;
}
.menuCache_about li,
.menuCache_globalOffice li {
  display: none;
  margin: 20px 20px 20px 75px;
  font-weight: 600;
  color: #005052;
  width: 250px;
}
.menuCache_about li a:hover,
.menuCache_globalOffice li a:hover {
  text-decoration: underline;
}

.menuCache_careers,
.menuCache_newsroom {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 80px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  text-align: center;
}
.menuCache_careers ul,
.menuCache_newsroom ul {
  margin-top: 25px;
}
.menuCache_careers li,
.menuCache_newsroom li {
  display: none;
  margin: 0px 100px 0px 100px;
  font-weight: 600;
  color: #005052;
}
.menuCache_careers li a:hover,
.menuCache_newsroom li a:hover {
  text-decoration: underline;
}

.menuCache_investors {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 570px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  padding-left: 17%;
  padding-right: 17%;
}
.menuCache_investors .menuInvestor_Card {
  width: 25%;
  height: min-content;
}
.menuCache_investors ul {
  margin-top: 25px;
}
.menuCache_investors li {
  display: none;
  font-weight: 600;
  color: #005052;
  width: 250px;
}
.menuCache_investors li a {
  display: inline-block;
  width: 100%;
}
.menuCache_investors li a:hover {
  text-decoration: underline;
}
.menuCache_investors .secondLi a {
  color: #848688;
  margin: 10px 0 3px 0;
}

.menuCache_sustain {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 250px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  padding-left: 17%;
  padding-right: 17%;
}
.menuCache_sustain .menuSustain_Card {
  width: 25%;
  height: min-content;
}
.menuCache_sustain ul {
  margin-top: 25px;
}
.menuCache_sustain li {
  display: none;
  font-weight: 600;
  color: #005052;
  width: 250px;
}
.menuCache_sustain li a {
  display: inline-block;
  width: 100%;
}
.menuCache_sustain li a:hover {
  text-decoration: underline;
}
.menuCache_sustain .secondLi a {
  color: #848688;
  margin: 10px 0 3px 0;
}

.menuCache_howCanWeHelp {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  margin-top: 3px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  top: 141px;
  z-index: 4;
  transition: all 0.5s ease;
}
.menuCache_howCanWeHelp ul {
  display: flex;
  text-align: center;
  justify-content: first baseline;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.menuCache_howCanWeHelp ul li {
  margin: 40px 50px 40px 50px;
  font-weight: 600;
}
.menuCache_howCanWeHelp ul li a:hover {
  text-decoration: underline;
}

.menuCache_ProductsServices {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  margin-top: 3px;
  width: 100%;
  height: 350px;
  background-color: #fff;
  top: 141px;
  z-index: 4;
  transition: all 0.5s ease;
  display: flex;
}
.menuCache_ProductsServices .menuCache_ProductsServices_L {
  position: grid;
  display: flex;
  border: 1px solid red;
  width: 70%;
}
.menuCache_ProductsServices .menuCache_ProductsServices_R {
  width: 30%;
  border: 1px solid blue;
}
.menuCache_ProductsServices ul {
  display: flex;
  text-align: center;
  justify-content: first baseline;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.menuCache_ProductsServices ul li {
  font-weight: 600;
}
.menuCache_ProductsServices ul li a:hover {
  text-decoration: underline;
}

.show {
  opacity: 100;
  visibility: visible;
}
.show li {
  display: inline-block;
}

.actif {
  padding-bottom: 11px;
  border-bottom: 3px solid #8cdb1f;
}

/* Pour le menu du header a coté de clinigen */
.actifSousMenu {
  box-shadow: 0px -3px 0px #8cdb1f inset;
}

.footer {
  background-color: #005052;
  height: 450px;
  color: white;
}
.footer a {
  color: white;
}
.footer .footerContaint {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 50px;
  width: 68%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
}
.footer .footerContaint .footerContaint_Card {
  width: 30%;
  height: 100%;
}
.footer .footerContaint .footerContaint_Card .footerContaint_Card_link {
  display: inline-block;
  justify-content: center;
  column-count: 2;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 20px;
}
.footer .footerContaint .footerContaint_Card .footerContaint_Card_link a:hover {
  text-decoration: underline;
  font-weight: 300;
}
.footer .footerContaint .footerContaint_Card .footerContaint_Card_link li {
  margin-bottom: 15px;
}
.footer .footerContaint .footerContaint_Card_Title {
  position: relative;
  display: inline;
  width: 125px;
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
}
.footer .footerContaint .footerContaint_Card_Title img {
  float: left;
  margin-right: 10px;
}
.footer .footerContaint .footerContaint_Card_Title span {
  display: inline-block;
  position: relative;
  width: 150px;
  padding-top: 8px;
}
.footer .footerContaint .footerContaint_Card_Medicine {
  width: 35%;
}
.footer .footerContaint .footerContaint_Card_Medicine p {
  margin: 20px 0 35px 58px;
  font-size: 17px;
}
.footer .footerContaint .footerContaint_Card_Medicine li {
  margin-left: 58px;
  margin-bottom: 15px;
  font-weight: 600;
}
.footer .footerContaint .footerContaint_Card_Medicine li a:hover {
  text-decoration: underline;
}

.copyright_Logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 68%;
  margin-top: 40px;
}
.copyright_Logo .by {
  font-weight: 600;
}
.copyright_Logo .line {
  border-top: 1px solid #0b7779;
  width: 55%;
}
.copyright_Logo .twitter,
.copyright_Logo .vimeo,
.copyright_Logo .linkedin {
  display: inline;
  border: 1px solid #0b7779;
  border-radius: 50px;
  padding: 13px;
  transition: all 0.5s ease;
}
.copyright_Logo .twitter:hover,
.copyright_Logo .vimeo:hover,
.copyright_Logo .linkedin:hover {
  background-color: #084344;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

li {
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #005052;
}

input {
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

/****************************************/
.container {
  position: relative;
  top: 145px;
  width: 100%;
}
.container img {
  filter: brightness(75%);
}

/****************************************/
.sousSlider {
  position: relative;
  display: flex;
  align-items: center;
  width: 68%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
  box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
}
.sousSlider .div_sv {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.sousSlider .div_sv .svg1,
.sousSlider .div_sv .svg2,
.sousSlider .div_sv .svg3 {
  transition: all 0.5s ease;
  fill: #8cdb1f;
}
.sousSlider .sousSlider_L {
  height: 100%;
  flex: 1;
  text-align: center;
  padding-top: 40px;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}
.sousSlider .sousSlider_L img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.sousSlider .sousSlider_L a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 2px;
}
.sousSlider .sousSlider_L:hover {
  background-color: #8cdb1f;
}
.sousSlider .sousSlider_M {
  border-left: 1px solid #75787a;
  border-right: 1px solid #75787a;
  height: 100%;
  flex: 1;
  padding-top: 40px;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}
.sousSlider .sousSlider_M img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.sousSlider .sousSlider_M a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 2px;
}
.sousSlider .sousSlider_M:hover {
  background-color: #8cdb1f;
}
.sousSlider .sousSlider_R {
  height: 100%;
  flex: 1;
  padding-top: 40px;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}
.sousSlider .sousSlider_R img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.sousSlider .sousSlider_R a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 2px;
}
.sousSlider .sousSlider_R:hover {
  background-color: #8cdb1f;
}

/****************************************/
.bgGris {
  padding-top: 80px;
  background-color: #f9fbf9;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
}

.lastNews_Titre {
  position: relative;
  text-align: center;
  padding: 40px;
}
.lastNews_Titre h3 {
  color: #005052;
  font-size: 25px;
}
.lastNews_Titre h3:after {
  content: "";
  background-color: #8cdb1f;
  bottom: 20px;
  height: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60px;
}

.bgGris_listCards {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
}
.bgGris_listCards .card {
  position: relative;
  width: 300px;
  height: 540px;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
  box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
  margin-bottom: 20px;
}
.bgGris_listCards .card .titre {
  padding-top: 30px;
  padding-left: 30px;
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
}
.bgGris_listCards .card img {
  width: 240px;
  height: 180px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.bgGris_listCards .card .card_content {
  margin-left: 30px;
  margin-right: 30px;
}
.bgGris_listCards .card .card_bot {
  position: absolute;
  bottom: 30px;
  border-top: 1px solid #999c9e;
  padding-top: 30px;
  width: inherit;
}
.bgGris_listCards .card .card_bot a {
  display: block;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
}
.bgGris_listCards .card .card_bot a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 5px;
}

/****************************************/
.containt_investor {
  background-color: white;
  position: relative;
}
.containt_investor .containt_investor_titre {
  position: relative;
  text-align: center;
  padding: 40px;
}
.containt_investor .containt_investor_titre h3 {
  color: #005052;
  font-size: 25px;
}
.containt_investor .containt_investor_titre h3:after {
  content: "";
  background-color: #8cdb1f;
  bottom: 20px;
  height: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60px;
}
.containt_investor .containt_investor_listCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.containt_investor .containt_investor_listCard .containt_investor_card {
  position: relative;
  width: 325px;
  height: 480px;
  padding: 25px;
  color: #005052;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_titre {
  position: relative;
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
  color: #6c9a9b;
  font-weight: 600;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt p {
  font-size: 16px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt .investor_card_date {
  color: #bec5c9;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt a {
  text-decoration: underline;
  font-size: 16px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt .investor_card_containt_titleInvest {
  position: relative;
  display: block;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 600;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt .investor_card_containt_investText {
  color: #4c5f6a;
  line-height: 25px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt_update {
  color: #bec5c9;
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_bot a {
  font-size: 16px;
  font-weight: 600;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_bot::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 5px;
}
.containt_investor .investor_btn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.containt_investor .investor_btn input {
  background-color: #8cdb1f;
  border-radius: 30px;
  width: 325px;
  height: 45px;
  cursor: pointer;
  transition: all 0.8s ease;
  text-align: center;
}
.containt_investor .investor_btn input:hover {
  background-color: #6ba717;
}

/****************************************/
.video {
  display: block;
  position: relative;
  height: 600px;
  background: url(../images/bg-video.jpg);
}
.video .containerVideo {
  position: relative;
  left: 24%;
  top: 25%;
  width: 600px;
  color: white;
}
.video .containerVideo span {
  color: #6ba717;
}
.video .containerVideo h2 {
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 5px;
  letter-spacing: -2px;
}
.video .containerVideo .containerVideo_Text {
  color: #bec5c9;
  width: 60%;
  line-height: 25px;
}
.video .containerVideo input {
  margin-top: 20px;
  border-radius: 30px;
  height: 55px;
  width: 180px;
  text-align: center;
  background-color: #8cdb1f;
  cursor: pointer;
  transition: all 1s ease;
}
.video .containerVideo input:hover {
  background-color: #6ba717;
}

/****************************************/
.ourMission {
  position: relative;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ourMission .ourMission_L {
  width: 22%;
  color: #005052;
  font-weight: 600;
}
.ourMission .ourMission_L span {
  display: block;
  color: #4c5f6a;
  margin-bottom: 5px;
}
.ourMission .ourMission_L p {
  font-size: 40px;
  letter-spacing: -3px;
}
.ourMission .ourMission_L input {
  margin-top: 20px;
  border-radius: 30px;
  height: 55px;
  width: 180px;
  text-align: center;
  background-color: #8cdb1f;
  cursor: pointer;
  transition: all 1s ease;
}
.ourMission .ourMission_L input:hover {
  background-color: #6ba717;
}
.ourMission .ourMission_R {
  width: 30%;
  color: #4c5f6a;
}
.ourMission .ourMission_R p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

/****************************************/
.numberBot {
  background-color: #f9fbf9;
  height: 320px;
  color: #005052;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}
.numberBot .numberBot_Card {
  position: relative;
  width: 12%;
  margin: 0 20px 0 20px;
  top: 30%;
}
.numberBot .numberBot_Card p {
  width: 210px;
}
.numberBot .numberBot_Card span {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 600;
}
.numberBot .ppl:before {
  content: url("../images/human.JPG");
}
.numberBot .target:before {
  content: url("../images/target.JPG");
}
.numberBot .pizza:before {
  content: url("../images/pizza.JPG");
}
.numberBot .earth:before {
  content: url("../images/earth.JPG");
}

/****************************************/

/*# sourceMappingURL=style.css.map */
