@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap");
@import url("https://use.typekit.net/mwf7moh.css");
#header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #d6d8d8;
  z-index: 3;
}
#header #header_top {
  background-color: #064242;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header #header_top .header_top_country {
  margin: 13px 0 0 20px;
  color: white;
  background-color: #064242;
  height: 30px;
  font-weight: 600;
}
#header #header_top .header_top_country span {
  margin-left: 5px;
}
#header #header_top .header_top_country span a {
  color: white;
}
#header #header_top .header_top_country .fa-angle-down {
  margin-left: 5px;
}
#header #header_top .header_top_menuLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
#header #header_top .header_top_menuLeft li {
  padding-right: 10px;
  font-size: 12px;
  display: inline;
  color: white;
  font-weight: 600;
}
#header #header_top .header_top_menuLeft li a {
  color: white;
  font-weight: 600;
  font-size: 12px;
}
#header #header_top .header_top_menuLeft .fa-angle-down {
  position: relative;
  display: inline;
  margin-left: 5px;
}
#header #header_bot {
  background-color: white;
  padding: 25px 20px 25px 20px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
#header #header_bot #header_bot_menuMiddle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
#header #header_bot #header_bot_menuMiddle .fa-angle-down {
  margin-left: 5px;
  color: #8cdb1f;
}
#header #header_bot #header_bot_menuMiddle li {
  display: inline;
  text-align: center;
  padding-right: 40px;
}
#header #header_bot #header_bot_menuMiddle li a {
  color: #646668;
  padding-bottom: 42px;
}
#header #header_bot #header_bot_menuMiddle li a:hover {
  box-shadow: 0px -3px 0px #8cdb1f inset;
}
#header #header_bot .header_bot_menuleft {
  height: 100%;
  display: flex;
  align-items: center;
}
#header #header_bot .header_bot_menuleft #header_bot_findAMedicine {
  position: relative;
  background-color: #403b77;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: 600;
}
#header #header_bot .header_bot_menuleft #header_bot_findAMedicine span {
  position: absolute;
  left: 15%;
  top: 48%;
  display: inline-block;
  transform: translateY(-50%);
}
#header #header_bot .header_bot_menuleft #header_bot_findAMedicine:hover {
  filter: brightness(180%);
}
#header #header_bot .header_bot_menuleft #header_bot_findAMedicine .fa-angle-down {
  margin-left: 30px;
}
#header #header_bot .header_bot_menuleft #header_bot_getInTouch {
  background-color: #8cdb1f;
  border-radius: 30px;
  width: 155px;
  height: 50px;
  cursor: pointer;
  transition: all 0.8s ease;
}
#header #header_bot .header_bot_menuleft #header_bot_getInTouch:hover {
  background-color: #73b31a;
}
#header #header_bot .header_bot_menuleft .separateur {
  border-left: 1px solid #cacaca;
  height: 20px;
  width: 1px;
  margin-left: 20px;
}
#header #header_bot .header_bot_menuleft #header_bot_search {
  position: relative;
  background: url(../images/loupe.png) no-repeat center/cover;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

/****************************************** SOUS MENU ************************/
.menuCacheCountry {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 65px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
}
.menuCacheCountry li {
  display: inline-block;
  margin: 20px 250px 20px 30px;
  font-weight: 600;
  color: #005052;
}
.menuCacheCountry li a:hover {
  text-decoration: underline;
}

.flag {
  width: 24px;
  height: 16px;
  margin-right: 5px;
}

.menuCache_about,
.menuCache_globalOffice {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  left: 0;
  height: 140px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #dad8d9;
  transition: opacity 0.5s ease;
}
.menuCache_about ul,
.menuCache_globalOffice ul {
  display: flex;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  flex-wrap: wrap;
  height: 100%;
}
.menuCache_about li,
.menuCache_globalOffice li {
  display: inline-block;
  margin: 20px 20px 20px 75px;
  font-weight: 600;
  color: #005052;
  width: 250px;
}
.menuCache_about li a:hover,
.menuCache_globalOffice li a:hover {
  text-decoration: underline;
}

.menuCache_careers,
.menuCache_newsroom {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 80px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  text-align: center;
}
.menuCache_careers ul,
.menuCache_newsroom ul {
  margin-top: 25px;
}
.menuCache_careers li,
.menuCache_newsroom li {
  display: inline-block;
  margin: 0px 100px 0px 100px;
  font-weight: 600;
  color: #005052;
}
.menuCache_careers li a:hover,
.menuCache_newsroom li a:hover {
  text-decoration: underline;
}

.menuCache_investors {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 570px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  padding-left: 17%;
  padding-right: 17%;
}
.menuCache_investors .menuInvestor_Card {
  width: 25%;
  height: min-content;
}
.menuCache_investors ul {
  margin-top: 25px;
}
.menuCache_investors li {
  display: inline-block;
  font-weight: 600;
  color: #005052;
  width: 250px;
}
.menuCache_investors li a {
  display: inline-block;
  width: 100%;
}
.menuCache_investors li a:hover {
  text-decoration: underline;
}
.menuCache_investors .secondLi a {
  color: #848688;
  margin: 10px 0 3px 0;
}

.menuCache_sustain {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 30%;
  height: 250px;
  width: 100%;
  background-color: #f9fbf9;
  z-index: 1;
  border-bottom: 1px solid #d8d9da;
  transition: opacity 0.5s ease;
  padding-left: 17%;
  padding-right: 17%;
}
.menuCache_sustain .menuSustain_Card {
  width: 25%;
  height: min-content;
}
.menuCache_sustain ul {
  margin-top: 25px;
}
.menuCache_sustain li {
  display: inline-block;
  font-weight: 600;
  color: #005052;
  width: 250px;
}
.menuCache_sustain li a {
  display: inline-block;
  width: 100%;
}
.menuCache_sustain li a:hover {
  text-decoration: underline;
}
.menuCache_sustain .secondLi a {
  color: #848688;
  margin: 10px 0 3px 0;
}

.menuCache_howCanWeHelp {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  margin-top: 3px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  top: 141px;
  z-index: 4;
  transition: all 0.5s ease;
  box-shadow: 0px 12px 24px -5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 12px 24px -5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 12px 24px -5px rgba(0, 0, 0, 0.15);
}
.menuCache_howCanWeHelp ul {
  display: flex;
  text-align: center;
  justify-content: first baseline;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.menuCache_howCanWeHelp ul li {
  margin: 40px 50px 40px 50px;
  font-weight: 600;
}
.menuCache_howCanWeHelp ul li a:hover {
  text-decoration: underline;
}

.menuCache_ProductsServices {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  margin-top: 3px;
  width: 100%;
  height: 350px;
  background-color: #fff;
  top: 141px;
  z-index: 4;
  transition: all 0.5s ease;
  display: flex;
}
.menuCache_ProductsServices .menuCache_ProductsServices_L {
  position: relative;
  display: flex;
  width: 68%;
  justify-content: center;
  margin-top: 20px;
}
.menuCache_ProductsServices .menuCache_ProductsServices_L .menuCache_ProductsServices_Card {
  display: flex;
  width: 25%;
}
.menuCache_ProductsServices .menuCache_ProductsServices_L .menuCache_ProductsServices_Card .secondLi a {
  color: #848688;
  margin: 10px 0 3px 0;
}
.menuCache_ProductsServices .menuCache_ProductsServices_R {
  position: relative;
  width: 32%;
}
.menuCache_ProductsServices .menuCache_ProductsServices_R .menuCache_ProductsServices_Card_Medicine {
  margin-left: 75px;
}
.menuCache_ProductsServices .menuCache_ProductsServices_R .menuCache_ProductsServices_Card_Medicine img {
  position: absolute;
  left: 20px;
  top: 35px;
}
.menuCache_ProductsServices .menuCache_ProductsServices_R .menuCache_ProductsServices_Card_Medicine .menuCache_ProductsServices_Card_Title {
  margin-top: 40px;
  font-weight: 600;
}
.menuCache_ProductsServices .menuCache_ProductsServices_R p {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #848688;
  font-weight: 600;
  width: 225px;
}
.menuCache_ProductsServices .menuCache_ProductsServices_R li {
  width: 200px;
}
.menuCache_ProductsServices ul {
  display: block;
  text-align: left;
}
.menuCache_ProductsServices ul li {
  font-weight: 600;
  margin-top: 15px;
}
.menuCache_ProductsServices ul li a:hover {
  text-decoration: underline;
}

.show {
  opacity: 100;
  visibility: visible;
}

.actif {
  padding-bottom: 11px;
  border-bottom: 3px solid #8cdb1f;
}

/* Pour le menu du header a coté de clinigen */
.actifSousMenu,
.stayActif {
  box-shadow: 0px -3px 0px #8cdb1f inset;
}

.separatorMenuProduct {
  height: 80%;
  border-left: 1px solid #dadada;
  margin-top: 2%;
}

.footer {
  position: relative;
  background-color: #005052;
  min-height: 450px;
  padding-bottom: 20px;
  color: white;
}
.footer a {
  color: white;
}
.footer .footerContaint {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: nowrap;
  top: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 75%;
}
.footer .footerContaint .footerContaint_Card {
  width: 30%;
  height: 100%;
}
.footer .footerContaint .footerContaint_Card .footerContaint_Card_link {
  display: inline-block;
  justify-content: center;
  column-count: 2;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 20px;
}
.footer .footerContaint .footerContaint_Card .footerContaint_Card_link a:hover {
  text-decoration: underline;
  font-weight: 300;
}
.footer .footerContaint .footerContaint_Card .footerContaint_Card_link li {
  margin-bottom: 15px;
}
.footer .footerContaint .footerContaint_Card_Title {
  position: relative;
  display: inline;
  width: 125px;
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
}
.footer .footerContaint .footerContaint_Card_Title img {
  float: left;
  margin-right: 10px;
}
.footer .footerContaint .footerContaint_Card_Title span {
  display: inline-block;
  position: relative;
  width: 150px;
  padding-top: 8px;
}
.footer .footerContaint .footerContaint_Card_Medicine {
  width: 35%;
}
.footer .footerContaint .footerContaint_Card_Medicine p {
  margin: 20px 0 35px 58px;
  font-size: 17px;
}
.footer .footerContaint .footerContaint_Card_Medicine li {
  margin-left: 58px;
  margin-bottom: 15px;
  font-weight: 600;
}
.footer .footerContaint .footerContaint_Card_Medicine li a:hover {
  text-decoration: underline;
}

.copyright_Logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: 100px;
  flex-wrap: nowrap;
}
@media all and (max-width: 770px) {
  .copyright_Logo {
    flex-wrap: wrap;
    flex-direction: column;
    height: 80px;
    margin-top: 80px;
  }
}
.copyright_Logo .by {
  font-weight: 600;
  min-width: 350px;
}
@media all and (max-width: 770px) {
  .copyright_Logo .by {
    order: 1;
  }
}
.copyright_Logo .line {
  display: inline-block;
  border-top: 1px solid #0b7779;
  width: 55%;
  max-width: 55%;
}
@media all and (max-width: 770px) {
  .copyright_Logo .line {
    order: -1;
  }
}
.copyright_Logo .btnSocial {
  display: inline-block;
  min-width: 145px;
  margin-left: 5px;
}
@media all and (max-width: 770px) {
  .copyright_Logo .btnSocial {
    order: -2;
  }
}
.copyright_Logo .twitter,
.copyright_Logo .vimeo,
.copyright_Logo .linkedin {
  border: 1px solid #0b7779;
  border-radius: 50px;
  padding: 13px;
  transition: all 0.5s ease;
}
.copyright_Logo .twitter:hover,
.copyright_Logo .vimeo:hover,
.copyright_Logo .linkedin:hover {
  background-color: #084344;
}

.mainHeader {
  padding-top: 150px;
  background: url("../images/bg-video.jpg") no-repeat center/cover;
  min-height: 680px;
}
.mainHeader .mainHeader_containt {
  width: 525px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 55px;
}
.mainHeader .mainHeader_containt span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 8px;
  color: #c9c9c9;
  line-height: 20px;
}
.mainHeader .mainHeader_containt p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 80px;
  font-family: League;
  line-height: 70px;
  color: white;
}
.mainHeader .mainHeader_containt input {
  text-align: center;
  border-radius: 30px;
  background-color: #8cdb1f;
  cursor: pointer;
  transition: all 1s ease;
  margin-top: 30px;
  width: 330px;
  height: 50px;
}
.mainHeader .mainHeader_containt input:hover {
  background-color: #7ac512;
}

/********************************* MENU FIXE **************************/
.menuFixed {
  position: relative;
  width: 100%;
  padding: 30px;
  text-align: center;
  z-index: 2;
}
.menuFixed li {
  display: inline-block;
  margin: 0 23px;
}
.menuFixed li a {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 600;
}
.menuFixed li a:hover {
  color: #8cdb1f !important;
}

/********************************* TEXT 1 **************************/
.mainText1 {
  background-color: #fff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  min-height: 650px;
  text-align: center;
  color: #4c5f6a;
}
.mainText1 p {
  font-family: GothamBook;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: -0.26px;
  line-height: 40px;
  margin-top: 100px;
}
.mainText1 input {
  margin-top: 100px;
  width: 165px;
  height: 45px;
  text-align: center;
  border-radius: 30px;
  background-color: #8cdb1f;
  cursor: pointer;
  transition: all 1s ease;
  font-size: 14px;
}
.mainText1 input:hover {
  background-color: #7ac512;
}

/********************************* RIGHT MEDICINE **************************/
.rightMedicine {
  margin-top: 20px;
  background-color: #fafafa;
  min-height: 780px;
  padding-top: 5%;
  padding-bottom: 20px;
}
.rightMedicine .rightMedicine_container {
  margin-left: auto;
  margin-right: auto;
  width: 54%;
  min-height: 530px;
  display: flex;
  justify-content: space-between;
}
.rightMedicine .rightMedicine_container .rightMedicine_L {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 100%;
  background-color: white;
  padding: 40px;
  box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  -webkit-box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  -moz-box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  margin-right: 10px;
}
.rightMedicine .rightMedicine_container .rightMedicine_L .fullMember {
  background: url(../images/fullMember.JPG) no-repeat center;
  width: 100%;
  height: 140px;
}
.rightMedicine .rightMedicine_container .rightMedicine_L .asop {
  background: url(../images/94.jpg) no-repeat center;
  width: 100%;
  height: 140px;
}
.rightMedicine .rightMedicine_container .rightMedicine_L .european {
  background: url(../images/95.png) no-repeat center;
  width: 100%;
  height: 140px;
}
.rightMedicine .rightMedicine_container .rightMedicine_R {
  width: 390px;
  min-height: 100%;
  margin-top: 5px;
  margin-left: 10px;
}
.rightMedicine .rightMedicine_container .rightMedicine_R h3 {
  font-family: League;
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
  color: #005052;
}
.rightMedicine .rightMedicine_container .rightMedicine_R p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: GothamBook;
  letter-spacing: -0.16px;
  font-size: 16px;
  line-height: 30px;
  color: #4c5f6a;
}
.rightMedicine .rightMedicine_container .rightMedicine_R a {
  display: block;
  margin-top: 10px;
  font-family: GothamBold;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 19px;
}
.rightMedicine .rightMedicine_container .rightMedicine_R a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 3px;
  display: inline-block;
  width: 0;
}
.rightMedicine .rightMedicine_container .rightMedicine_R a:hover {
  text-decoration: underline;
}

/********************************* RIGHT PATIENT **************************/
.rightPatient {
  min-height: 830px;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 20px;
}
.rightPatient .rightPatient_container {
  margin-left: auto;
  margin-right: auto;
  width: 54%;
  min-height: 580px;
  display: flex;
  justify-content: space-between;
}
.rightPatient .rightPatient_container .rightPatient_L {
  width: 390px;
  height: 100%;
  margin-top: 5px;
  margin-right: 10px;
}
.rightPatient .rightPatient_container .rightPatient_L h3 {
  font-family: League;
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
  color: #005052;
}
.rightPatient .rightPatient_container .rightPatient_L p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: GothamBook;
  letter-spacing: -0.16px;
  font-size: 16px;
  line-height: 30px;
  color: #4c5f6a;
}
.rightPatient .rightPatient_container .rightPatient_L a {
  display: block;
  margin-top: 10px;
  font-family: GothamBold;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 19px;
}
.rightPatient .rightPatient_container .rightPatient_L a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 3px;
  display: inline-block;
  width: 0;
}
.rightPatient .rightPatient_container .rightPatient_L a:hover {
  text-decoration: underline;
}
.rightPatient .rightPatient_container .rightPatient_R {
  width: 500px;
  min-height: 100%;
  background-color: white;
  padding: 20px 40px 40px 40px;
  box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  -webkit-box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  -moz-box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  margin-left: 10px;
}
.rightPatient .rightPatient_container .rightPatient_R .listCards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.rightPatient .rightPatient_container .rightPatient_R .listCards .keyFacts_Card {
  width: 45%;
  height: 150px;
  margin: 10px;
}
.rightPatient .rightPatient_container .rightPatient_R .listCards .keyFacts_Card span {
  min-width: 200px;
  display: block;
  font-size: 60px;
  font-family: League;
  color: #005052;
  z-index: 0;
}
.rightPatient .rightPatient_container .rightPatient_R .listCards .keyFacts_Card p {
  color: #8b95a0;
  line-height: 20px;
  font-size: 14px;
}
.rightPatient .rightPatient_container .rightPatient_R .listCards .keyFacts_Card .pizza:before {
  content: url("../images/pizza.JPG");
}
.rightPatient .rightPatient_container .rightPatient_R .listCards .keyFacts_Card .ppl:before {
  content: url("../images/human.JPG");
}
.rightPatient .rightPatient_container .rightPatient_R .listCards .keyFacts_Card .cible:before {
  content: url("../images/target.JPG");
}
.rightPatient .rightPatient_container .rightPatient_R .listCards .keyFacts_Card .moitie:before {
  content: url("../images/cibleMoitie.JPG");
}
.rightPatient .rightPatient_container .rightPatient_R img {
  display: block;
  width: 90px;
  height: 75px;
  position: relative;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.rightPatient .rightPatient_container .rightPatient_R h4 {
  text-align: center;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 40px;
  font-weight: 700;
  color: #005052;
}

/********************************* RIGHT TIME **************************/
.rightTime {
  background-color: #f7f7f7;
  min-height: 850px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.rightTime .rightTime_container {
  margin-left: auto;
  margin-right: auto;
  width: 54%;
  min-height: 580px;
  display: flex;
  justify-content: space-between;
}
.rightTime .rightTime_container .rightTime_L {
  width: 500px;
  height: 580px;
  background-color: white;
  padding: 20px 40px 40px 40px;
  box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  -webkit-box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  -moz-box-shadow: 0px -1px 30px -1px rgba(128, 128, 128, 0.349);
  margin-right: 10px;
}
.rightTime .rightTime_container .rightTime_L .listCards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.rightTime .rightTime_container .rightTime_L .listCards .keyFacts_Card {
  width: 45%;
  height: 150px;
  margin: 10px;
}
.rightTime .rightTime_container .rightTime_L .listCards .keyFacts_Card span {
  min-width: 200px;
  display: block;
  font-size: 60px;
  font-family: League;
  color: #005052;
}
.rightTime .rightTime_container .rightTime_L .listCards .keyFacts_Card p {
  color: #8b95a0;
  line-height: 20px;
  font-size: 14px;
}
.rightTime .rightTime_container .rightTime_L .listCards .keyFacts_Card .cible:before {
  content: url("../images/target.JPG");
}
.rightTime .rightTime_container .rightTime_L .listCards .keyFacts_Card .moitie:before {
  content: url("../images/cibleMoitie.JPG");
}
.rightTime .rightTime_container .rightTime_L .listCards .keyFacts_Card .earth:before {
  content: url("../images/earth.JPG");
}
.rightTime .rightTime_container .rightTime_L img {
  display: block;
  width: 90px;
  height: 75px;
  position: relative;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
}
.rightTime .rightTime_container .rightTime_L h4 {
  text-align: center;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 40px;
  font-weight: 700;
  color: #005052;
}
.rightTime .rightTime_container .rightTime_R {
  width: 390px;
  height: 100%;
  margin-top: 5px;
  margin-left: 10px;
}
.rightTime .rightTime_container .rightTime_R h3 {
  font-family: League;
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
  color: #005052;
}
.rightTime .rightTime_container .rightTime_R p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: GothamBook;
  letter-spacing: -0.16px;
  font-size: 16px;
  line-height: 30px;
  color: #4c5f6a;
}
.rightTime .rightTime_container .rightTime_R a {
  display: block;
  margin-top: 10px;
  font-family: GothamBold;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 19px;
}
.rightTime .rightTime_container .rightTime_R a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 3px;
  display: inline-block;
  width: 0;
}
.rightTime .rightTime_container .rightTime_R a:hover {
  text-decoration: underline;
}

/********************************* RELATED LINKS **************************/
.relatedLinks {
  min-height: 360px;
}
.relatedLinks .relatedLinks_container {
  padding-top: 125px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.relatedLinks .relatedLinks_container h3 {
  font-family: League;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #005052;
}
.relatedLinks .relatedLinks_container a {
  display: block;
  margin-top: 10px;
  font-family: GothamBold;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 19px;
}
.relatedLinks .relatedLinks_container a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 3px;
  display: inline-block;
  width: 0;
}
.relatedLinks .relatedLinks_container a:hover {
  text-decoration: underline;
}

.mainHeaderPharma {
  height: 560px;
  background: url(../images/slides/woman-web_crop-min.jpg) no-repeat;
  background-size: cover;
  background-position: right 35% bottom 82%;
  filter: brightness(0.75);
  border: 1px solid red;
}
.mainHeaderPharma .mainHeaderPharma_contain {
  display: block;
  position: relative;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  color: white;
}
.mainHeaderPharma .mainHeaderPharma_contain span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 8px;
  line-height: 19.6px;
  font-family: GothamBook;
  margin: 0 0 12px 0;
}
.mainHeaderPharma .mainHeaderPharma_contain h3 {
  font-size: 80px;
  line-height: 70px;
  font-family: League;
  font-weight: 400;
}

.mainContent {
  display: flex;
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  justify-content: space-between;
}
.mainContent .containL {
  margin-left: 20px;
  width: 835px;
  margin-right: 50px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 40px;
}
.mainContent .containL h2 {
  font-family: GothamMedium;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -0.345px;
  line-height: 36px;
}
.mainContent .containL p {
  font-family: GothamBook;
  font-size: 16px;
  letter-spacing: -0.256px;
  line-height: 30px;
  color: #4c5f6a;
}
.mainContent .containL .finContent {
  font-family: GothamBook;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.256px;
  line-height: 30px;
  color: #4c5f6a;
  margin-bottom: 25px;
}
.mainContent .containL .title {
  font-family: League;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-size: 30px;
  color: #005052;
}
.mainContent .containL ul {
  margin-bottom: 25px;
  margin-bottom: 50px;
}
.mainContent .containL li {
  list-style-type: circle;
  margin: 10px 0 10px 20px;
}
.mainContent .containL li a {
  font-family: GothamBold;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 19px;
}
.mainContent .containL li a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 3px;
  display: inline-block;
  width: 0;
}
.mainContent .containL li a:hover {
  text-decoration: underline;
}
.mainContent .containR {
  position: relative;
  width: 420px;
  background-color: #f5f5f5;
  max-height: 875px;
  margin-right: 20px;
}
.mainContent .containR .titleGetInTouch {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  margin: 25px 0 0 0;
  padding-left: 25px;
  padding-bottom: 25px;
}
.mainContent .containR .letter {
  display: inline-block;
  background: url(../images/letter.JPG) no-repeat center/cover;
  height: 40px;
  width: 40px;
}
.mainContent .containR h4 {
  font-size: 20px;
  margin-left: 10px;
}
.mainContent .containR .lib {
  display: block;
  font-size: 12px;
  color: #8b8b8b;
  margin-bottom: 15px;
}
.mainContent .containR .sousTitre {
  display: block;
  font-size: 15px;
  color: #5f5f5f;
  margin-bottom: 15px;
}
.mainContent .containR form {
  padding: 30px;
}
.mainContent .containR .formInput {
  display: block;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 50px;
  height: 50px;
  margin-bottom: 15px;
  color: black;
  padding: 15px 15px 15px 25px;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  outline: none;
}
.mainContent .containR .formInput:after {
  content: "^";
  float: right;
}
.mainContent .containR .combo1 {
  cursor: pointer;
  user-select: none;
}
.mainContent .containR textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 125px;
  min-height: 125px;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  padding: 15px 15px 15px 25px;
  outline: none;
}
.mainContent .containR .btnSubmit {
  text-align: center;
  border-radius: 30px;
  background-color: #8cdb1f;
  cursor: pointer;
  transition: all 1s ease;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100%;
}
.mainContent .containR .btnSubmit:hover {
  background-color: #7ac512;
}

.sousMenu1 {
  display: inline-block;
  position: absolute;
  width: 86%;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  height: 200px;
  top: 495px;
  color: black;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  overflow-y: scroll;
  visibility: visible;
  /* width */
  /* Track */
  /* Handle */
}
.sousMenu1 .option {
  width: 100%;
  padding: 8px 5px 8px 5px;
}
.sousMenu1 .option:hover {
  background-color: #e7e7e7;
}
.sousMenu1::-webkit-scrollbar {
  width: 5px;
}
.sousMenu1::-webkit-scrollbar-track {
  border-radius: 10px;
}
.sousMenu1::-webkit-scrollbar-thumb {
  background: #8cdb1f;
  border-radius: 10px;
}

.show {
  visibility: visible;
}

/****************************************/
.container {
  position: relative;
  top: 145px;
  width: 100%;
}
.container img {
  filter: brightness(75%);
}

/****************************************/
.sousSlider {
  position: relative;
  display: flex;
  vertical-align: middle;
  max-width: 1250px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
  box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
}
.sousSlider .div_sv {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.sousSlider .div_sv .svg1,
.sousSlider .div_sv .svg2,
.sousSlider .div_sv .svg3 {
  transition: all 0.5s ease;
  fill: #8cdb1f;
}
.sousSlider .sousSlider_L {
  height: 100%;
  flex: 1;
  text-align: center;
  padding-top: 40px;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}
.sousSlider .sousSlider_L img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.sousSlider .sousSlider_L a {
  display: inline-block;
  width: 150px;
  margin-top: -10px;
}
.sousSlider .sousSlider_L a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 2px;
}
.sousSlider .sousSlider_L:hover {
  background-color: #8cdb1f;
}
.sousSlider .sousSlider_M {
  border-left: 1px solid #75787a;
  border-right: 1px solid #75787a;
  height: 100%;
  flex: 1;
  padding-top: 40px;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}
.sousSlider .sousSlider_M img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.sousSlider .sousSlider_M a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 2px;
}
.sousSlider .sousSlider_M:hover {
  background-color: #8cdb1f;
}
.sousSlider .sousSlider_R {
  height: 100%;
  flex: 1;
  padding-top: 40px;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}
.sousSlider .sousSlider_R img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.sousSlider .sousSlider_R a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 2px;
}
.sousSlider .sousSlider_R:hover {
  background-color: #8cdb1f;
}

/****************************************/
.bgGris {
  padding-top: 80px;
  background-color: #f9fbf9;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
}

.lastNews_Titre {
  position: relative;
  text-align: center;
  padding: 40px;
}
.lastNews_Titre h3 {
  color: #005052;
  font-size: 35px;
  font-family: League;
  font-weight: 400;
}
.lastNews_Titre h3:after {
  content: "";
  background-color: #8cdb1f;
  bottom: 20px;
  height: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60px;
}

.bgGris_listCards {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 50px;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}
@media all and (max-width: 990px) {
  .bgGris_listCards {
    flex-wrap: wrap;
  }
}
.bgGris_listCards .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 300px;
  height: 540px;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
  box-shadow: 0px 0px 39px 0px rgba(110, 110, 110, 0.37);
  margin: 15px;
}
@media all and (max-width: 990px) {
  .bgGris_listCards .card {
    width: 45%;
  }
}
@media all and (max-width: 770px) {
  .bgGris_listCards .card {
    width: 100%;
    min-height: 700px;
  }
}
.bgGris_listCards .card .imgAndText {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  height: 100%;
}
.bgGris_listCards .card .imgAndText .titre {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px;
}
.bgGris_listCards .card .imgAndText img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
}
.bgGris_listCards .card .imgAndText .card_content {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80%;
}
.bgGris_listCards .card .card_bot {
  display: inline-block;
  position: relative;
  border-top: 1px solid #999c9e;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 25px;
}
.bgGris_listCards .card .card_bot a {
  display: block;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
}
.bgGris_listCards .card .card_bot a::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 5px;
}

/****************************************/
.containt_investor {
  background-color: white;
  position: relative;
  min-height: 800px;
}
.containt_investor .containt_investor_titre {
  position: relative;
  text-align: center;
  padding: 40px;
}
.containt_investor .containt_investor_titre h3 {
  color: #005052;
  font-size: 35px;
  font-family: League;
  font-weight: 400;
}
.containt_investor .containt_investor_titre h3:after {
  content: "";
  background-color: #8cdb1f;
  bottom: 20px;
  height: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60px;
}
.containt_investor .containt_investor_listCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
}
.containt_investor .containt_investor_listCard .containt_investor_card {
  position: relative;
  width: 325px;
  min-height: 480px;
  padding: 25px;
  color: #005052;
}
@media all and (max-width: 770px) {
  .containt_investor .containt_investor_listCard .containt_investor_card {
    width: 100%;
  }
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_titre {
  position: relative;
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
  color: #6c9a9b;
  font-weight: 600;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt_SharePrice p {
  font-family: League;
  font-weight: 400;
  font-size: 60px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt_SharePrice span {
  font-family: League;
  font-weight: 400;
  font-size: 40px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt p {
  font-size: 16px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt .investor_card_date {
  color: #bec5c9;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt a {
  text-decoration: underline;
  font-size: 16px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt .investor_card_containt_titleInvest {
  position: relative;
  display: block;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: League;
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt .investor_card_containt_investText {
  color: #4c5f6a;
  line-height: 25px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_containt_update {
  color: #bec5c9;
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_bot a {
  font-size: 16px;
  font-weight: 600;
}
.containt_investor .containt_investor_listCard .containt_investor_card .investor_card_bot::after {
  content: "→";
  color: #8cdb1f;
  margin-left: 5px;
}
.containt_investor .investor_btn {
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.containt_investor .investor_btn input {
  background-color: #8cdb1f;
  border-radius: 30px;
  width: 325px;
  height: 45px;
  cursor: pointer;
  transition: all 0.8s ease;
  text-align: center;
}
.containt_investor .investor_btn input:hover {
  background-color: #7ac512;
}

/****************************************/
.video {
  position: relative;
  height: 600px;
  background: url(../images/bg-video.jpg);
}
.video .containerVideo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1150px;
  color: white;
}
.video .containerVideo .videoCard {
  position: relative;
  padding-top: 100px;
  padding-left: 50px;
  max-width: 600px;
}
.video .containerVideo .videoCard span {
  color: #6ba717;
}
.video .containerVideo .videoCard h2 {
  margin-bottom: 15px;
  margin-top: 5px;
  width: 500px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 80px;
  font-family: League;
  line-height: 70px;
  color: white;
}
.video .containerVideo .videoCard .containerVideo_Text {
  color: #bec5c9;
  width: 60%;
  line-height: 25px;
}
.video .containerVideo .videoCard input {
  margin-top: 20px;
  border-radius: 30px;
  height: 55px;
  width: 180px;
  text-align: center;
  background-color: #8cdb1f;
  cursor: pointer;
  transition: all 1s ease;
}
.video .containerVideo .videoCard input:hover {
  background-color: #7ac512;
}

/****************************************/
.ourMission {
  position: relative;
  min-height: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ourMission .ourMission_L {
  max-width: 500px;
  color: #005052;
  font-weight: 600;
  margin-right: 50px;
}
.ourMission .ourMission_L span {
  display: block;
  color: #4c5f6a;
  margin-bottom: 5px;
}
.ourMission .ourMission_L p {
  font-family: League;
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
}
.ourMission .ourMission_L input {
  margin-top: 20px;
  height: 55px;
  width: 180px;
  text-align: center;
  border-radius: 30px;
  background-color: #8cdb1f;
  cursor: pointer;
  transition: all 1s ease;
}
.ourMission .ourMission_L input:hover {
  background-color: #7ac512;
}
.ourMission .ourMission_R {
  max-width: 750px;
  max-height: 100%;
  color: #4c5f6a;
  padding-left: 50px;
}
.ourMission .ourMission_R p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  max-height: 400px;
}

/****************************************/
.numberBot {
  background-color: #f9fbf9;
  color: #005052;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  min-height: 320px;
}
.numberBot .numberBot_Card {
  position: relative;
  display: block;
  margin: 0 30px 0 30px;
  top: 30%;
}
.numberBot .numberBot_Card p {
  width: 210px;
}
.numberBot .numberBot_Card span {
  min-width: 200px;
  display: block;
  font-size: 60px;
  font-family: League;
  margin-bottom: 10px;
}
.numberBot .ppl:before {
  content: url("../images/human.JPG");
}
.numberBot .target:before {
  content: url("../images/target.JPG");
}
.numberBot .pizza:before {
  content: url("../images/pizza.JPG");
}
.numberBot .earth:before {
  content: url("../images/earth.JPG");
}

/****************************************/
@font-face {
  font-family: GothamMedium;
  src: url(./fonts/GothamMedium.ttf);
}
@font-face {
  font-family: GothamBook;
  src: url(./fonts/GothamBook.ttf);
}
@font-face {
  font-family: GothamBold;
  src: url(./fonts/GothamBold.ttf);
}
@font-face {
  font-family: League;
  src: url(./fonts/LeagueGothic-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamBook;
  font-size: 14px;
}

li {
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #005052;
}

input {
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
