@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap");
@import url("https://use.typekit.net/mwf7moh.css");
@import "./variables";
@import "./shared/header";
@import "./shared/footer";
@import "./mission";
@import "./main";

@font-face {
  font-family: GothamMedium;
  src: url(./fonts/GothamMedium.ttf);
}

@font-face {
  font-family: GothamBook;
  src: url(./fonts/GothamBook.ttf);
}

@font-face {
  font-family: GothamBold;
  src: url(./fonts/GothamBold.ttf);
}

@font-face {
  font-family: League;
  src: url(./fonts/LeagueGothic-Regular.woff);
}

//***///
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamBook;
  font-size: 14px;
}

li {
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #005052;
}

input {
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
html {
  scroll-behavior: smooth;
}
