.footer {
  position: relative;
  background-color: $vertFonce;
  height: 450px;
  color: white;
  a {
    color: white;
  }
  .footerContaint {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    .footerContaint_Card {
      width: 30%;
      height: 100%;
      .footerContaint_Card_link {
        display: inline-block;
        justify-content: center;
        column-count: 2;
        text-decoration: none;
        margin-left: 50px;
        margin-top: 20px;
        a {
          &:hover {
            text-decoration: underline;
            font-weight: 300;
          }
        }
        li {
          margin-bottom: 15px;
        }
      }
    }
    .footerContaint_Card_Title {
      position: relative;
      display: inline;
      width: 125px;
      letter-spacing: 3px;
      font-size: 14px;
      margin-bottom: 15px;
      font-weight: 600;
      img {
        float: left;
        margin-right: 10px;
      }
      span {
        display: inline-block;
        position: relative;
        width: 150px;
        padding-top: 8px;
      }
    }
    .footerContaint_Card_Medicine {
      width: 35%;
      p {
        margin: 20px 0 35px 58px;
        font-size: 17px;
      }

      li {
        margin-left: 58px;
        margin-bottom: 15px;
        font-weight: 600;
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.copyright_Logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 68%;

  margin-top: 40px;
  flex-wrap: nowrap;
  .by {
    font-weight: 600;
    min-width: 350px;
  }

  .line {
    display: inline-block;
    border-top: 1px solid #0b7779;
    width: 55%;
    max-width: 55%;
  }
  .btnSocial {
    display: inline-block;
    min-width: 145px;
    margin-left: 5px;
  }
  .twitter,
  .vimeo,
  .linkedin {
    border: 1px solid #0b7779;
    border-radius: 50px;
    padding: 13px;
    transition: all 0.5s ease;
    &:hover {
      background-color: #084344;
    }
  }
}
