.menuFixed_about {
  position: absolute;
  display: block;
  width: 100%;
  top: 524px;
  background-color: transparent;
  padding: 30px;
  text-align: center;
  z-index: 4;
  li {
    display: inline-block;
    margin: 0 23px;
    a {
      color: rgb(185, 185, 185);
      font-size: 14px;
      font-weight: 600;
      &:hover {
        color: #8cdb1f !important; // le hover ne changera pas malgré le changement de .color en JS
      }
    }
  }
}
